# =========================================================
# Chamber Heater — AC PTC element
# =========================================================
# Virtual averaged sensor blends chamber_top + chamber_bottom

[heater_generic chamber_heater]
sensor_type: temperature_combined
sensor_list: temperature_sensor chamber_top, temperature_sensor chamber_bottom, temperature_sensor toolhead_chamber
combination_method: mean
maximum_deviation: 999.99
heater_pin: PB0          # HE2 on Octopus Pro 1.1
min_temp: 0
max_temp: 130
max_power: 1
gcode_id: C
control: pid
pid_Kp: 70.184
pid_Ki: 0.376
pid_Kd: 3274.071

[verify_heater chamber_heater]
max_error: 1200
check_gain_time: 1200
hysteresis: 20
heating_gain: 1
