# =========================================================
# MCU — BTT Octopus Pro 1.1 H723
# =========================================================

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_200020000351313239393734-if00
