# =========================================================
# XY Steppers — Annex K3 (H-Bot / CoreXY variant)
# All verified by STEPPER_BUZZ
# =========================================================
#
# X  = Front Right = MOT1
# X1 = Rear Left   = MOT2
# Y  = Rear Right  = MOT3
# Y1 = Front Left  = MOT0
# =========================================================

# ---------------------------------------------------------
# X — Front Right — MOT1
# ---------------------------------------------------------
[stepper_x]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
full_steps_per_rotation: 200
microsteps: 32
rotation_distance: 40
endstop_pin: ^PG12
position_min: -7
position_endstop: 180
position_max: 180
homing_speed: 100
homing_retract_dist: 10
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PD11
spi_bus: spi1
sense_resistor: 0.033
interpolate: True
run_current: 1.6
stealthchop_threshold: 0

# ---------------------------------------------------------
# X1 — Rear Left — MOT2
# ---------------------------------------------------------
[stepper_x1]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
full_steps_per_rotation: 200
microsteps: 32
rotation_distance: 40

[tmc5160 stepper_x1]
cs_pin: PC6
spi_bus: spi1
sense_resistor: 0.033
interpolate: True
run_current: 1.6
stealthchop_threshold: 0

# ---------------------------------------------------------
# Y — Rear Right — MOT3
# ---------------------------------------------------------
[stepper_y]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
full_steps_per_rotation: 200
microsteps: 32
rotation_distance: 40
endstop_pin: ^PG13
position_min: 0
position_endstop: 185
position_max: 185
homing_speed: 100
homing_retract_dist: 10
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PC7
spi_bus: spi1
sense_resistor: 0.033
interpolate: True
run_current: 1.6
stealthchop_threshold: 0

# ---------------------------------------------------------
# Y1 — Front Left — MOT0 
# ---------------------------------------------------------
[stepper_y1]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
full_steps_per_rotation: 200
microsteps: 32
rotation_distance: 40

[tmc5160 stepper_y1]
cs_pin: PC4
spi_bus: spi1
sense_resistor: 0.033
interpolate: True
run_current: 1.6
stealthchop_threshold: 0
