# =========================================================
# Z Steppers — Annex K3 (3-point Z tilt)
# All verified by STEPPER_BUZZ
# =========================================================
#
# Z  = Front Left  = MOT5
# Z1 = Rear        = MOT6
# Z2 = Front Right = MOT4
# =========================================================

# ---------------------------------------------------------
# Z — Front Left — MOT5
# ---------------------------------------------------------
[stepper_z]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
full_steps_per_rotation: 200
microsteps: 64
rotation_distance: 40
gear_ratio: 5:1
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 189
homing_speed: 15
second_homing_speed: 25
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PE4
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: true

# ---------------------------------------------------------
# Z1 — Rear — MOT6
# ---------------------------------------------------------
[stepper_z1]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
full_steps_per_rotation: 200
microsteps: 64
rotation_distance: 40
gear_ratio: 5:1

[tmc2209 stepper_z1]
uart_pin: PE1
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: true

# ---------------------------------------------------------
# Z2 — Front Right — MOT4
# ---------------------------------------------------------
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
full_steps_per_rotation: 200
microsteps: 64
rotation_distance: 40
gear_ratio: 5:1

[tmc2209 stepper_z2]
uart_pin: PF2
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: true

