# =========================================================
# MCU — BTT Kraken V1.1 H723
# =========================================================

## USB ##
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2A0044001451313430323835-if00

## UART (disabled — switched to USB) ##
# [mcu]
# serial: /dev/serial0
# baud: 250000
