# =========================================================
# TMC Autotune — BTT Octopus Pro V1.1 H723
# XY: TMC5160 (SPI)  |  Z/E: TMC2209 (UART)
# =========================================================

[autotune_tmc stepper_x]
motor: omc-17hs19-2504s-h
voltage: 48

[autotune_tmc stepper_x1]
motor: omc-17hs19-2504s-h
voltage: 48

[autotune_tmc stepper_y]
motor: omc-17hs19-2504s-h
voltage: 48

[autotune_tmc stepper_y1]
motor: omc-17hs19-2504s-h
voltage: 48

[autotune_tmc stepper_z]
motor: omc-17hs19-2004s1
voltage: 24

[autotune_tmc stepper_z1]
motor: omc-17hs19-2004s1
voltage: 24

[autotune_tmc stepper_z2]
motor: omc-17hs19-2004s1
voltage: 24

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
voltage: 24
tuning_goal: performance
