# =========================================================
# Heated Bed
# =========================================================

[heater_bed]
heater_pin: PA1
sensor_pin: PF3
sensor_type: Generic 3950
control: watermark
min_temp: 0
max_temp: 145

[verify_heater heater_bed]
max_error: 160
check_gain_time: 90
# hysteresis: 5
# heating_gain: 2
