# =========================================================
# Chamber Heater — AC PTC element — BTT Octopus Pro V1.1
# =========================================================

[heater_generic chamber_heater]
sensor_type: temperature_combined
sensor_list: temperature_sensor chamber_top_rear, temperature_sensor chamber_top_front, temperature_sensor chamber_middle, temperature_sensor chamber_bottom, temperature_sensor toolhead_chamber
combination_method: mean
maximum_deviation: 999.99
heater_pin: PA3              # HE1 on Octopus Pro v1.1
min_temp: 0
max_temp: 130
max_power: 1
gcode_id: C
control: pid
pid_Kp: 70.184
pid_Ki: 0.376
pid_Kd: 3274.071

[verify_heater chamber_heater]
max_error: 1200
check_gain_time: 1200
hysteresis: 20
heating_gain: 1
