# =========================================================
# Extruder — MOT7
# =========================================================

[extruder]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 21.446747
gear_ratio: 50:8
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0
sensor_pin: Dinghy:PA5
sensor_type: PT1000
pullup_resistor: 2200
min_temp: 0
max_temp: 350
min_extrude_temp: 170
max_extrude_only_distance: 1400
max_extrude_only_accel: 2000
max_extrude_only_velocity: 120  # bump up from default 50
max_extrude_cross_section: 5.0
pressure_advance: 0.020
pressure_advance_smooth_time: 0.020
heater_power: 75
cooling_fan: fan
filament_heat_capacity: 1.8
maximum_retract: 2.5
pwm_cycle_time: 0.02

[tmc2209 extruder]
uart_pin: PD3
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: True

[verify_heater extruder]
max_error: 500          # double if needed
check_gain_time: 120     # default for extruder is 20; increase for weak heaters
hysteresis: 50          # increase during PID tuning
heating_gain: 2         # decrease for weak heaters
