# =========================================================
# Fans — BTT Kraken V1.1
# =========================================================

# Part cooling fan — FAN0
[fan]
pin: PA0               # FAN0 on Kraken
kick_start_time: 0.5

# Chamber light — FAN1
[output_pin chamber_light]
pin: PA1               # FAN1 on Kraken
pwm: True
hardware_pwm: False
cycle_time: 0.010
value: 0
shutdown_value: 0

# Nevermore carbon filter — FAN2
[fan_generic nevermore]
pin: PA2               # FAN2 on Kraken
kick_start_time: 0.5

# PTC chamber heater circulation fan — FAN3
[heater_fan chamber_heater_fan]
pin: PA3               # FAN3 on Kraken
heater: chamber_heater
heater_temp: 50.0
fan_speed: 1.0

# Camera fan — FAN4
[heater_fan camera_fan]
pin: PA4
kick_start_time: 0.5
heater: chamber_heater
heater_temp: 50
fan_speed: 1.0

# Electronics bay cooling — FAN5
[controller_fan electronics_bay_fan]
pin: PE8               # FAN5 on Kraken
kick_start_time: 0.5
fan_speed: 1.0
idle_speed: 0.4
idle_timeout: 60
stepper: stepper_x, stepper_x1, stepper_y, stepper_y1, stepper_z, stepper_z1, stepper_z2, extruder
heater: extruder, heater_bed

# Top aux fans — HE2
[fan_generic top_aux_fans]
pin: PF9               # HE2 on Kraken
kick_start_time: 0.5

# Electronics bay light — FAN7 (4-pin header)
[output_pin electronics_bay_light]
pin: PA5           # FAN7 on Kraken
pwm: True
hardware_pwm: False
cycle_time: 0.010
value: 0
shutdown_value: 0
