# =========================================================
# MCU — BTT Kraken V1.1 H723
# =========================================================

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2A0044001451313430323835-if00
