# =========================================================
# MCU — BTT Octopus Pro V1.1 H723
# =========================================================

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_230020001151313531383332-if00
