# =========================================================
# Temperature Sensors — BTT Kraken V1.1
# =========================================================

[temperature_sensor MCU_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Raspberry_Pi_Temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

# Top chamber thermistor — TH2 on Kraken
[temperature_sensor chamber_top]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC4        # TH2 on Kraken
min_temp: -20
max_temp: 120

# Bottom chamber thermistor 3 — TH1 on Kraken
[temperature_sensor chamber_bottom]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC5        # TH1 on Kraken
min_temp: -20
max_temp: 120

# PTC chamber heater fin thermistor — TH0 on Kraken
[temperature_sensor chamber_heater_fin]
sensor_type: ATC Semitec 104GT-2
pullup_resistor: 4700
sensor_pin: PB1        # TH0 on Kraken
min_temp: 0
max_temp: 160
gcode_id: chamber_fin

[thermistor Stepper_NTC10K]
temperature1: 25
resistance1: 10000
beta: 3950

# Motor thermistor — Dinghy PA2
[temperature_sensor Stepper_Motor_Temp]
sensor_type: Stepper_NTC10K
sensor_pin: Dinghy:PA2
min_temp: 0
max_temp: 250

# TK heatsink thermistor — Dinghy PA0
[temperature_sensor TK_Heatsink]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: Dinghy:PA0
min_temp: 0
max_temp: 200

# Toolhead chamber thermistor — Dinghy PA1
[temperature_sensor toolhead_chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Dinghy:PA1
min_temp: -20
max_temp: 150

# # Top chamber therm 1 — Dinghy PA3
# [temperature_sensor top_chamber_1]
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: Dinghy:PA3
# min_temp: -20
# max_temp: 150
