# =========================================================
# Z Tilt — 3-point automatic tramming
# =========================================================

[z_tilt]
z_positions:
    -74.0, -18.0    # Front Left
     76.0, 237.0    # Rear
    226.0, -18.0    # Front Right

points:
     50,  20         # Front Left probe point
    120, 165         # Rear probe point
    175,  20         # Front Right probe point

horizontal_move_z: 10
retries: 10
retry_tolerance: 0.0075
adaptive_horizontal_move_z: true
speed: 400
